<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linguist</title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="click.js"></script>
    
    
    <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/elastislide.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
		<noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
</head>
<body> 
   <h4 class="logo">Logist</h4>
    <div class="menu">
        <a href="#about" class="form_menu">Про нас</a>
        <a href="#proposition" class="form_menu">Послуги</a>
        <!--<a href="#" class="form_menu">Мови</a>--> 
        <div class="dropdown">
      <a href="#" class="form_menu">Мови</a> 
  <div class="dropdown-child">
    <a href="#languages">Англійська мова</a>
    <a href="#languages">Італійська мова</a>
    <a href="#languages">Німецька мова</a>
    <a href="#languages">Французька мова</a>
    <a href="#languages">Польська мова</a>
  </div>
</div>
        <a href="#price" class="form_menu">Ціни</a>
        <a href="#" class="form_menu">Зворотній зв'язок</a>
        
    </div>
     
     <h1 class="start">Лови момент</h1>
     <h2 class="start_2">для розвитку</h2>
     
      
    <div class="resons">
         <h2 class="h2_1">6 причин, чому Лінгвіст</h2> 
         <div class="img">
         <div class="img_1">
             <img src="image/1%20(2).png" alt="" class="form_img">
             
             <img src="image/2.png" alt="" class="form_img" style="margin-left: -40px;">
             
             <img src="image/3.png" alt="" class="form_img">
              </div>
             <p class="p"> Професійна лексика</p>
             <p class="p">Граматика у вигляді простих схем</p>
             <p class="p" style="padding-left: 40px;">95% спікінг</p>
           
            
            <div class="img_1">
                <img src="image/4.png" alt="" class="form_img">
                <img src="image/5.png" alt="" class="form_img" style="margin-left: -40px;">
                <img src="image/6.png" alt="" class="form_img">
                 </div>
                <p class="p" style="padding-left: 10px;">Усе заняття - лише <br> англійською мовою</p>
                <p class="p">Без нудного зубріння правил</p>
                <p class="p">Розмовляєте іноземною з першого заняття</p>
            
        </div>     
              
         
     </div>
     
     <div class="about">
         <h2 class="h2_2" id="about">Про нас </h2>
         <br>
         <div class="text_in_about" style=" margin-top: -20px;">
         <p class="p_in_about">Linguist - ефективні курси з вивчення англійської мови у Львові для бажаючих швидко і грунтовно вивчити мову і вільно нею спілкуватися. Ми пропонуємо програми з вивчення іноземних мов з різною інтенсивністю, тематикою і спрямованістю. З огляду на ваші потреби, цілі і знання мови, фахівці нашого центру допоможуть вам підібрати потрібний курс.</p>
         <p class="p_in_about">Висококваліфіковані викладачі з різних країн, сучасні методи навчання, заняття в невеликих групах, відеокласи і розмовні клуби, корисні навчальні посібники, безкоштовна допомога репетитора, доступна вартість і оптимальна кількість уроків виходячи з вашого рівня - запорука того, що наші курси 100 % допоможуть вам вивчити мову.Регулярне живе спілкування з носіями мови допомагає в найкоротші терміни значно вдосконалити розмовну мову, збільшити лексичний запас, відпрацювати основні правила граматики на практиці.</p>
         </div>
         <div class="video">
         <video src="video/%D0%9A%D0%B0%D0%BA%20%D0%BC%D1%8B%20%D0%BE%D0%B1%D1%83%D1%87%D0%B0%D0%B5%D0%BC%20%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D1%8C%20%D0%BD%D0%B0%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%BC%20(online-video-cutter.com).mp4" width="500px" height="280px" controls="controls" ></video>
         </div>
     </div>
     
     <div class="proposition" >
        <h2 class="h2_2" id="proposition">Послуги</h2>
        <div class="ul"> 
         <ul>
             <li class="li">Англійська, німецька, французька,іпанська, італійська, польська</li>
             <li class="li">Індивідуальні уроки або маленькі групи</li>
             <li class="li">Навчання для компаній</li>
             <li class="li">Підготовка до міжнародних екзаменів</li>
             <li class="li">Skype-заняття</li>
         </ul>
         <img src="image/English.jpg" alt="" class="img_english">
         </div>
              </div>
     
     
     <div class="container">
			
			
			<div class="content">
				<h2 class="h2_2" id="languages">Мови</h2>
				<div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<div class="es-carousel-wrapper">
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href="#"><img src="images/thumbs/Why_english.jpg" data-large="images/Why_english.jpg" alt="image01"  /></a></li>
									<li><a href="#"><img src="images/thumbs/why_french.jpg" data-large="images/why_french.jpg" alt="image02"  /></a></li>
									<li><a href="#"><img src="images/thumbs/why_germany.png" data-large="images/why_germany.png" alt="image03" /></a></li>
									<li><a href="#"><img src="images/thumbs/why_italian.jpg" data-large="images/why_italian.jpg" alt="image04" /></a></li>
									<li><a href="#"><img src="images/thumbs/why_polish.png" data-large="images/why_polish.png" alt="image05"  /></a></li>
									
								</ul>
							</div>
						</div>
						
					</div>
				</div>   
				
			</div> 
		</div>
	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.elastislide.js"></script>
		<script type="text/javascript" src="js/gallery.js"></script>

     
     
     <div class="price">
        <h2 class="h2_2" id="price">Ціни</h2>
        <table border="1" class="table">
             <tr style="background: white; color: black;" >
                 <th>Індивідуальні заннятя</th>
                 <th>Групові заняття</th>
                 <th>Корпоративне навчання</th>
                 <th>Тренінги</th>
             </tr>
             <tr><td>400грн/год</td><td>3800грн</td><td>105грн/особа</td><td>1500грн</td></tr>
             <tr><td colspan="4">При 100% оплаті зразу - знижка 5%</td></tr>
         </table>
         <button id="free_places" onclick="myclick();">Вільні місця</button>
     </div>
       
      <div class="general_form">
         <h2 class="h2_2">Зворотній зв'язок</h2>
          <div class="inner_form" id="form">
           <form action="" method="post" class="myform"> 
           <input type="text" placeholder="Введіть прізвище" name="surname" class="myinput">
           <br><br>
           <input type="text" placeholder="Введіть ім'я" name="name" class="myinput">
           <br><br>
           <input type="phone" placeholder="Введіть телефон" name="phone" class="myinput">
           <br><br>
           <input type="email" placeholder="Введіть e-mail" name="e-mail" class="myinput">
           <br><br>
           <textarea name="" id="" cols="30" rows="10" placeholder="Введіть питання"></textarea>
           <br><br>
           <input type="submit" value="Надіслати запит" id="button" class="mybutton">
           </form>
           </div>
      
       </div>
    </body>
</html>