body{
    background-image: url("image/flatlay_overhead_typing_macbook_working-1229889.jpg!d");
    background-size: 100% 757px;
    background-blend-mode: multiply;
    background-color: burlywood;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

@font-face {
  font-family: Adventure ;
  src: url("Adventure.ttf");
}

.logo{
    text-align: left;
    font-size: 30pt;
    color: white;
    margin-left: 90px;
    margin-top: 20px;
    font-family: Suez One;
    }
.menu{
    float: right;
    margin-top: -100px;
    margin-right: 40px;
}
a.form_menu {
    font-size: 20pt;
    text-decoration: none;
    color: white;
    padding-right: 40px;
   
}
.start{
    color:white;
    text-align: center;
    font-size: 50pt;
    font-family: Adventure;
    margin-top: 300px;
}

.start_2{
    color:white;
    text-align: center;
    font-size: 30pt;
    font-family: Adventure;
    margin-top: -50px;
}

.resons{
    margin-top: 320px;
    margin-left: -7px;
    width: 1525px;
    height: 300px;
}
.h2_1{
    font-size: 30pt;
    font-family: Adventure;
    text-align: center;
    padding-top: 30px;
}
.img{
     margin-top: 60px;
     margin-left: 390px;
     height:500px; 
}

.img_1{
     margin-left: 40px;
}

.form_img{
    width: 100px;
    height: 100px;
    padding-right: 200px;
}

.p{
    display: inline-block;
    padding-right: 100px;
}

.p:first-child{
    margin-left: -10px;
}
.about{
     margin-top: 270px;
    margin-left: -7px;
    width: 1525px;
    height: 370px;
}

.h2_2{
    font-size: 30pt;
    font-family: Adventure;
    text-align: center;
    
}
.p_in_about{
    
    padding-left: 50px;
    padding-right: 50px;
    font-family: Times New Roman;
    font-size: 14pt;
}

.video{
    margin-left: 550px;
    border: 2px black; 
    border-style: dashed;
    width: 500px;
    height: 280px;
    
}

.proposition{
    margin-top: 370px;
    margin-right: -27px;
    width: 1525px;
    height: 370px;
}
.ul{
    margin-left: 100px;
}
.li{
    font-family: Times New Roman;
    font-size: 20pt;
}

.img_english{
    float: right;
    width: 300px;
    height: 200px;
    margin-right: 150px;
    margin-top: -120px;
}

.table{
    width: 550px;
    height: 150px;
    margin-left: 500px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
    position: absolute;
}
.general_form{
margin-top: 150px;
}

.inner_form{
    margin-left: 600px;
    width: 350px;
    background-color: brown;
    border: 2px solid black;
    border-radius: 10px;
}
.myform{
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.myinput
{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.mybutton
{
     width: 200px;
    height: 30px;
    border-radius: 5px;
}
.mybutton:hover
{
    background-color: forestgreen;
}

#free_places{
    width: 120px;
    height: 50px;
    background-color: red;
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 700px;
    color: white;
}